.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.hit{
text-align: center ;
margin-top: 5%;
margin-bottom: 5%;
max-width: 100%;
height: auto;
}

.send{

margin-top: 6%;
}

.site_name{
    font-size: 2rem;
}

/*hr {
   	margin-bottom: 10%;
   }*/

