.fuuter{
  background-color:#CD6DF5;

  width: 100vh;
  
}
.row.text-center.features {
  background-color:#CD6DF5;
  height: 60px;
  
}
.first_block{
 margin: 10%;
}
.btn.btn-primary.btn-lg.px-4.me-md-2{
 
  background-color: #7F24A6;
  --bs-btn-border-color: #7F24A6;
}
.btn.btn-primary.bottonn.rounded-0.py-2.px-2{
  background-color: #7F24A6;
  --bs-btn-border-color: #7F24A6;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cat_hed{
  margin: 5%;
}
.big{
  font-size: 1.5rem;
  font-weight: 200;
}
.text_block {
  margin-top: 10%;
}
.row.featurette {
  margin: 10%;
}
.container-fluid.featurette {
  margin-top: 5%;
  margin-bottom: 5%;
}
.row.galleri {
  margin-top: 5%;
  margin-bottom: 5%;
}
.fuuter{
  margin-top: 10%;
  margin-bottom: 10%;
}
.content.form {
  margin-top: 5%;
  margin-bottom: 5%;
}
.bottonn{
  width: 100%;
}
.img-fluid.mas {
  margin-top: -5%;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  
}
body {
  background-color: #fff;
  color: #999;
  line-height: 2; }
p {
  font-family: 'Lora', serif;
}

h1
   {
  font-family: 'Roboto', sans-serif;
  color: #000;
  /*text-shadow: 2px 2px 2px #83647e;*/
 }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.text-black {
  color: #000; }

/*.content {
  padding: 7rem 0; }*/

h2 {
  font-size: 3.5rem;
  font-weight: 700; }

h3 {
  font-size: 2rem;
  font-weight: 700; }

.form-control {
  border: none;
  border: 1px solid #d9d9d9;
  border-radius: 0; }
  .form-control:active, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000; }

.col-form-label {
  color: #000; }

.btn, .form-control {
  height: 55px; }

.btn:active, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: nohne; }

label.error {
  font-size: 12px;
  color: red; }

#message {
  resize: vertical; }

#form-message-warning, #form-message-success {
  display: none; }

#form-message-warning {
  color: #B90B0B; }

#form-message-success {
  color: #55A44E;
  font-size: 18px;
  font-weight: bold; }

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #000; }

.site_name{
    font-size: 2rem;
}
