.reg-img{
  margin-top:45.5%;
}
.fuuter{
  background-color:#7F24A6;

  width: 100vh;
  
}
.col-md-4.col-sm-4.col-ld-4.masge{
  
  margin-top: 5%;
  margin-bottom: 3%;
  
}
.galleri1{
  background-color:#7F24A6;
  height: 100%;
  color: #fff;

  
  padding-top: 5%;
  padding-bottom: 5px;
  padding-left: 6%;
}
.footer{
  background-color:#7F24A6;
  height: 100%;
  color: #fff;
  text-align: center;
  
  padding-top: 3%;
  padding-bottom: 1%;
 
}
.row.text-center.features {
  background-color:#7F24A6;
  height: 110px;
  
  padding-top: 1%;
 
  --bs-gutter-x: none;
  
}
.cat_hed{


  padding-top: 0.1%;
  padding-bottom: 0.1%;

  background-color:#7F24A6;
  ;
  color: #fff;
}
.first_block{
 margin: 10%;
}
.btn.btn-primary.btn-lg.px-4.me-md-2{
  border-radius:0px;
  margin-top: 3%;
  font-family: 'Roboto', sans-serif;
  background-color: #7EA808;
  --bs-btn-border-color: ##BDF525;
  color: #ffffff;
  font-size: 1.5rem;
}
.button{
 
  font-size: 1.25rem;
  
}
.btn.btn-primary.bottonn.rounded-0.py-2.px-2{
  font-family: 'Roboto', sans-serif;
  background-color: #7EA808;
  --bs-btn-border-color: ##BDF525;
  color: #ffffff;
  font-size: 1.5rem;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.big{
  font-size: 1.5rem;
  font-weight: 200;
}
.text_block {
  margin-top: 10%;
}
/*.row.featurette {
  margin: 10%;
}*/
.featurette-divider.fd1{
  margin-top: 5%;
}
.container-fluid.featurette {
  margin-top: 5%;
  margin-bottom: 5%;
}
.row.galleri {
  margin-top: 5%;
  margin-bottom: 5%;
}
.fuuter{
  margin-top: 10%;
  margin-bottom: 10%;
}
.content.form {
  margin-top: 3%;
  margin-bottom: 5%;
}
.bottonn{
  width: 100%;
}
.img-fluid.mas {
  margin-top: -5%;
  max-width: 100%;
  height: auto;
  /*border-radius: 50%;*/
  clip-path: polygon(25% 0%, 100% 0, 75% 100%, 0% 100%);
  
}

font-family: 'Roboto', sans-serif;
body {
  background-color: #fff;
  color: #999;
  line-height: 2; }
p {
  font-family: 'Raleway', sans-serif;
}

h1
   {
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
  /*text-shadow: 2px 2px 2px #83647e;*/
 }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.text-black {
  color: #000; }

/*.content {
  padding: 7rem 0; }*/

h2 {
  font-size: 3.5rem;
  font-weight: 700; }

h3 {
  font-size: 2rem;
  font-weight: 700; }

.form-control {
  border: none;
  border: 1px solid #d9d9d9;
  border-radius: 0; }
  .form-control:active, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000; }

.col-form-label {
  color: #000; }

.btn, .form-control {
  height: 55px; }

.btn:active, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: nohne; }

label.error {
  font-size: 12px;
  color: red; }

#message {
  resize: vertical; }

#form-message-warning, #form-message-success {
  display: none; }

#form-message-warning {
  color: #B90B0B; }

#form-message-success {
  color: #55A44E;
  font-size: 18px;
  font-weight: bold; }

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #000; }

.site_name{
    font-size: 2rem;
}
div.col-md-8.col-sm-8.col-ld-8.text_block{
  margin-top: 5%;
}
div.col-md-8.col-sm-8.col-ld-8.text_block_2.order-md-2{
  margin-top: 5%;
}
#myBtn {
  
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #a12ed3;
  color: white;
  cursor: pointer;
  padding: 15px;
  
}

#myBtn:hover {
  background-color: #c53dff;
}
.fm1{

 margin-bottom: 5%;
}
